@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap);
/* @charset "UTF-8"; */



body {
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 900;
  color: #585858;

}

.resources {
  background: url('https://s3.us-central-1.wasabisys.com/di-web-image/fncb/library-computer-book-banner.png');
  height: 200px;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3.0em;
  font-weight: bold;
  padding-top: 0.5em;
  border-radius:32px;
  
}

i.icon.square {
  float: left;
  display: block;
  background-color: #24346c;
  width: 14px;
  height: 14px;
}

.button {
  border-radius: 5px;
  padding: 10px 14px;
}

.button.normal {
  background-color: #24346c;
  color: #ffffff;
  border: 1px solid #24346c;
  box-shadow: 0px 1px 4px #D0F3E8;
}

.button.normal:hover {
  background-color: #ffffff;
  color: #24346c;
  text-decoration: none;
}


#phonelist {
  color: transparent;
  font-size: 1px;
}


.boogie-man {
  margin-left: -999999999999px;
  position: absolute;
}

form h5,
form .h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

form .seperator {
  width: 100%;
  display: block;
  padding-bottom: 20px;
}

form label {
  font-size: 16px;
  margin-bottom: 10px;
}

form select {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #E2EDF4;
  padding: 10px;
  height: 46px;
  margin-bottom: 20px;
}

form textarea {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #E2EDF4;
  padding: 16px;
}

form input {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #E2EDF4;
  height: 46px;
  padding-left: 16px;
  padding-right: 16px;
}

form input:hover {
  border: 2px solid #C8DBE9;
}

form input:focus {
  border: 2px solid #24346c !important;
}

form .employment-history {
  border-bottom: 1px solid #C8DBE9;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

form .employment-history h3,
form .employment-history .h3 {
  margin-top: 20px;
}

form .employment-history .form-sub-header {
  margin-bottom: 20px;
}

form .references {
  border-bottom: 1px solid #C8DBE9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

form .references h3,
form .references .h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

form .references .form-sub-header {
  margin-bottom: 20px;
}

form .disclaimer h3,
form .disclaimer .h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

form .radio-container .radio .radio-option {
/* display: inline-block; */
  float: left;
  margin-bottom: 20px;
}

form .radio-container .radio label {
  margin-right: 8px;
  margin-bottom: 0px;
  float: left;
}

form .radio-container .radio input[type=radio] {
  margin-bottom: 0px;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.adjust {
  margin-top: 50px;
}

.company-logos {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 50px;
}

.company-logos.hide {
  display: none;
}

.company-logos .company {
  text-align: center;
  width: 100%;
  border: 1px solid #ffffff;
  min-height: 182px;
  padding: 50px 0px;
}

.company-logos .company a {
  margin: 0px auto;
  text-indent: -99999px;
  display: block;
  width: 100%;
}

.company-logos .company a.bbb {
  width: 103px;
  height: 50px;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/bbb.png");
  background-size: cover;
}

.company-logos .company a.aca {
  width: 64px;
  height: 80px;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/aca.svg");
  background-size: cover;
}

.company-logos .company a.nmls {
  width: 132px;
  height: 33px;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/nmls.png");
  background-size: cover;
}

.company-logos .company a.rmai {
  width: 97px;
  height: 80px;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/rmai.png");
  background-size: cover;
}


a {
  color: #24346c;
  font-weight: 500;
  text-decoration: underline;
}

a:hover {
  color: #24346c;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1200px;
}

.top-bar {
  color:white;
  background-color: #24346c;
  padding: 16px 0px;
  border-bottom: 1px solid white;
  font-size: small;
  background: linear-gradient(180deg, #24346c 0%, #24346c 80%,  #ffffff 100%);
}

.top-bar a {
  text-decoration: none;
  color:#adeaff;
}

.top-bar a:hover {
  text-decoration: underline;
  color:#adeaff;
}

header {
  padding: 34px 0px;
 background-color: transparent
}

header a.logo {

  width: 276px;
  height: 133px; 
  display: block;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/fncb_logo_smaller_v2021.png");
  text-indent: -99999px;
}

header .desktop {
  display: block;
}

header .desktop.hide {
  display: none;
}

header .mobile {
  display: none;
}

header .mobile.hide {
  display: none;
}

header ul {
  float: right;
  margin-top: 5px;
}

header ul li {
  float: left;
  margin-left: 20px;
}

header ul li.hide {
  display: none;
}

header ul li:first-child {
  margin-left: 0px;
}

header ul li a {
  font-size: 0.875rem;
  color: #000000;
  text-decoration: none;
}

header ul li a:hover {
  color: #24346c;
  text-decoration: underline;
}

.mobile-nav {
  background-color: #ffffff;
  display: none;
}

.mobile-nav.hide {
  display: none !important;
}

.mobile-nav .menu-item {
  text-align: center;
}

.mobile-nav .menu-item.hide {
  display: none;
}

.mobile-nav .menu-item a {
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #D9F2EA;
  font-size: 15px;
}

.mobile-nav .menu-item a:hover {
  background-color: #F2FBFF;
}

.hero {
  background: white;
}

.hero .message-first {
  padding: 64px 20px 64px 0px;
}

.hero .message-first h1,
.hero .message-first .h1 {
  margin-bottom: 20px;
}

.hero .message-first p {
  font-size: 1.125rem;
}

.hero .message-second {
  padding: 26px 20px;
  background-color: #ffffff;
}

.hero .message-second h3,
.hero .message-second .h3 {
  margin-bottom: 20px;
}

.hero .message-second p {
  font-size: 0.875rem;
  line-height: 26px;
}

.hero .message-second p span {
  color: #24346c;
}

.hero .hero-image {
  border-radius: 32px;
  background-color: cadetblue;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/fncb_building_day.jpg") center center no-repeat;
  background-size: cover;
  /* box-shadow: inset 0 0 0 9999px  #000000 ; */
  border:2px solid white;
  box-shadow: 1px 1px 6px 3px white inset, -1px -1px 6px 3px white inset;
  }

.section-one {
  padding: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #F3FAFF;
  border-radius: 20px;
}

.section-one .item {
  max-width: 378px;
  margin-top: 70px;
}

.section-one .item i {
  margin-bottom: 20px;
}

.section-one .item h4,
.section-one .item .h4 {
  padding-bottom: 10px;
}

.section-one ul {
  margin: 12px;
  padding: 12px;
}

.section-one ul li {
  list-style: disc outside none;
}

.section-two .message {
  padding-top: 120px;
  padding-right: 50px;
}

.section-two .message h2,
.section-two .message .h2 {
  margin-bottom: 20px;
}

.section-two .calculator ul {
  width: 100%;
  text-align: center;
}

.section-two .calculator ul li {
  background-color: #E5F7FF;
  border-bottom: 1px solid #BCE0D5;
  padding: 24px 0px;
}

.section-two .calculator ul li:last-child {
  border-bottom: 0px;
  border-bottom-right-radius: 100px;
}

.section-two .calculator ul li span {
  font-size: 14px;
  color: #4E8B78;
  display: block;
}

.section-two .calculator ul li.amount-due {
  padding: 34px 0px 30px 0px;
  background-color: #0D647A;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}

.section-two .calculator ul li.amount-due span {
  font-size: 14px;
  color: #ffffff;
  display: block;
}

.section-two .calculator ul li.amount-due .chevron-down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #24346c;
}

.section-three {
  clear: both;
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-three .cta {
  text-align: center;
  padding-left: 50px;
}

.section-three .cta a {
  width: 100%;
  padding-top: 52px;
  padding-bottom: 52px;
  font-size: 18px;
  text-decoration: none;
  display: block;
  border: 3px solid #BCE0D5;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.section-three .cta a:hover {
  border: 3px solid #24346c;
}

.section-four {
  margin-bottom: 50px;
}

.section-four .testimonials {
  border-radius: 20px;
  background-color: #FFF3F7;
  padding: 80px;
}

.section-four .testimonials .title {
  margin-bottom: 50px;
  text-align: center;
}

.section-four .testimonials .title h3,
.section-four .testimonials .title .h3 {
  margin-bottom: 10px;
}

.section-four .testimonials .comment {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.section-four .testimonials .comment i {
  margin: 0px auto;
  margin-bottom: 50px;
}

.page .page-title {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page .page-title h3,
.page .page-title .h3 {
  margin-bottom: 10px;
}

.page .page-title p {
  margin: 0;
  padding: 0;
}

.page .form-container {
  background-color: #F3FAFF;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 80px;
}

.page .form-container .form-header {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D5E1E9;
}

.page .form-container .form-header h4,
.page .form-container .form-header .h4 {
  padding-bottom: 10px;
}

.page .form-container .form-header p {
  margin: 0;
  padding: 0;
}

.page .support {
  margin-bottom: 80px;
}

.page .support-box {
  background-color: #FFF7F3;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}

.page .support-box h4,
.page .support-box .h4 {
  margin-bottom: 10px;
}

.page .support-box i {
  margin-bottom: 20px;
}

.page .contact-section-one {
  padding-bottom: 100px;
}

.page .contact-section-one h4,
.page .contact-section-one .h4 {
  margin-bottom: 10px;
}


.page .learn-more {
  background-color: #FFF7F3;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 60px;
}

.page .learn-more ul {
  float: right;
}

.page .learn-more ul li {
  float: left;
  margin-left: 20px;
}

.page .learn-more ul li a {
  text-decoration: none;
}

.page .learn-more ul li:first-child {
  margin-left: 0px;
}

.page .standards {
  padding-bottom: 50px;
}

.page .standards h4,
.page .standards .h4 {
  padding-bottom: 10px;
}

.page .standards p:last-child {
  margin: 0;
  padding: 0;
}

.page .standards ul li {
  margin-bottom: 20px;
}

.page .standards ul li:last-child {
  margin-bottom: 0px;
}

.page .standards ul li i {
  float: left;
  margin-top: 5px;
  margin-right: 12px;
}

.page .accreditations h4,
.page .accreditations .h4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page .legal-page {
  margin-bottom: 50px;
}

.page .legal-page span {
  font-weight: 600;
}

.page .scams-frauds {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .info {
  margin-bottom: 50px;
}

.footer .info .fncb {
  padding-right: 100px;
}

.footer .info a.logo {
  width: 276px;
  height: 133px; 
  display: block;
  background: url("https://s3.us-central-1.wasabisys.com/di-web-image/fncb/fncb_logo_smaller_v2021.png");
  text-indent: -99999px;
  margin-bottom: 20px;
}

.footer .info p {
  font-size: 0.875rem;
  padding-bottom: 24px;
}

.footer .info p:last-child {
  padding-bottom: 0;
}

.footer .info .info-title {
  height: 40px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 20px;
}

.footer .info ul li {
  font-size: 0.875rem;
}

.footer .footer-links {
  background-color: #FDFDFD;
  padding: 50px 0px;
  border-top: 1px solid #EBEBEB;
}

.footer .footer-links ul li {
  float: left;
  margin-right: 16px;
}

.footer .footer-links ul li:last-child {
  margin-right: 0px;
}

.footer .footer-links ul li a {
  font-size: 0.875rem;
  color: #7D7D7D;
  text-decoration: none;
}

.footer .footer-links ul li a:hover {
  color: #24346c;
  text-decoration: underline;
}

.footer .footer-links ul.socials {
  float: right;
}

.footer .footer-links ul.socials li {
  float: left;
}

.footer .footer-links ul.socials li i {
  margin-top: -6px;
}

@media (max-width: 992px) {
  .top-bar {
    text-align: center !important;
  }

  header a.logo {
    /*width: 119px; */
    /* max-height: 32px; */
    margin-top: 2px;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
  }

  header .mobile .mobile-menu {
    padding: 8px;
    margin-top: -2px;
    display: block;
  }

  header ul li {
    margin-left: 10px !important;
  }

  header ul li a.button {
    font-size: 12px !important;
    padding: 8px 8px;
  }


  .hero {
    background: white;
    background: linear-gradient(0deg, white 0%, white 50%, #e5fff7 50%, #e5fff7 100%);
  }

  .hero .message-first {
    padding: 20px 20px;
    text-align: center;
  }

  .hero .message-first h1,
  .hero .message-first .h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .hero .message-second {
    padding: 30px 30px 20px 30px;
  }

  .section-one {
    padding: 40px;
  }

  .section-one .item {
    margin-top: 30px;
    max-width: 100%;
  }

  .section-two .message {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-two .message h2,
  .section-two .message .h2 {
    font-size: 35px;
  }

  .section-three {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .section-three h1,
  .section-three .h1 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px !important;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .section-three .cta {
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-four .testimonials {
    padding: 50px;
  }

  .section-four .testimonials .title {
    margin-bottom: 40px;
  }

  .section-four .testimonials .comment {
    padding-bottom: 50px;
  }

  .section-four .testimonials .comment:last-child {
    padding-bottom: 0px;
  }

  .page .sf-section-one {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  .page .sf-section-one .sf-image {
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px;
  }

  .page .sf-section-one .sf-info {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .page .sf-info.must {
    padding: 0px;
  }

  .page .sf-section {
    margin-bottom: 50px;
  }

  .page .sf-section.nono {
    padding-bottom: 50px;
  }

  .page .sf-section .sf-image.dos {
    margin-top: 40px;
  }

  .page .about-section-one h2,
  .page .about-section-one .h2 {
    font-size: 1.875rem;
    line-height: 35px;
  }

  .page .about-section-one .about-info {
    padding: 50px 50px !important;
  }

  .page .about-section-two {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .page .about-section-two .company-message {
    padding-left: 50px;
    padding-right: 50px;
  }

  .page .about-section-three {
    padding-bottom: 60px;
    margin-bottom: 80px !important;
  }

  .page .about-section-three .col-lg-6 {
    margin-bottom: 30px;
  }

  .page .about-section-three .col-lg-6:last-child {
    margin-bottom: 0px;
  }

  .page .about-section-three .innovation {
    height: 250px;
  }

  .page .about-section-three .training {
    height: 250px;
  }

  .page .about-section-four {
    text-align: center;
    margin-bottom: 50px;
  }

  .page .about-section-four h1,
  .page .about-section-four .h1 {
    font-size: 60px;
  }

  .page .about-section-four p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    padding-bottom: 50px;
  }

  .page .about-section-four .cta {
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page .employment-section-one {
    margin-bottom: 50px;
  }

  .page .employment-section-one .join {
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 10px;
  }

  .page .employment-section-one .apply {
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px;
  }

  .page .form-container {
    margin-bottom: 50px;
    padding: 30px;
  }

  .page .support {
    margin-bottom: 50px;
  }

  .page .contact-section-one {
    padding-bottom: 50px;
  }

  .page .contact-section-one .careers {
    height: 250px !important;
  }

  .page .contact-section-one .complaints {
    height: 250px;
  }

  .page .learn-more {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .page .learn-more h4,
  .page .learn-more .h4 {
    margin-bottom: 30px;
    padding: 0px;
  }

  .page .learn-more ul {
    float: none;
    text-align: center;
  }

  .page .learn-more ul li {
    float: none;
    margin-left: 10px;
    display: inline-block;
  }

  .page .faq-answer .answer {
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .page .faq-answer .image {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .footer .info .fncb {
    padding-right: 20px;
  }

  .footer .info p {
    padding-bottom: 10px;
  }

  .footer .info .info-title {
    margin-bottom: 10px;
  }

  .footer .info ul {
    margin-bottom: 20px;
  }

  .footer .footer-links ul {
    width: 100%;
    text-align: center;
  }

  .footer .footer-links ul li {
    float: none;
    display: inline-block;
  }

  .footer .footer-links ul.socials {
    float: none;
    margin-top: 50px;
  }

  .footer .footer-links ul.socials li {
    float: none;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .hero .hero-image {
    height: 300px;
    border-top-left-radius: 0px;
  }

  .page .about-image {
    height: 200px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
}

@media (max-width: 1187px) {
  .section-three h1,
  .section-three .h1 {
    font-size: 50px;
    line-height: 50px;
    margin-top: 20px;
  }
}