

<div class="container">
    <div class="row">
        <div class="col-4 col-sm-2 col-md-2 col-lg-2">
            <a href="/" class="logo" title="First National Collections Bureau, Inc. FNCBNV">First National Collections
                Bureau, Inc. FNCBNV</a>
        </div>
        <div class="col-4 col-sm-10 col-md-10 col-lg-10 desktop ">
            <ul>
                <li><a href="/">Home</a></li>
                <!-- li><a href="/remove-number.html">Remove Number</a></li -->
                <li><a href="/contact.html">Contact</a></li>

                <!-- need to point to actual login portal-->
                <li><a target='_blank' href="https://payfncb.cssimpact.com:8443/pay/FNCB/login">Login</a></li>

                <!-- need to point to actual login portal-->
                <li><a target='_blank' href="https://payfncb.cssimpact.com:8443/pay/FNCB/login"
                        class="button normal">Make Payment</a></li>
            </ul>
        </div>
        <div class="col-8 col-sm-10 col-md-10 col-lg-10 mobile ">
            <ul>
                <!-- need to point to actual login portal-->
                <li><a target='_blank' href="https://payfncb.cssimpact.com:8443/pay/FNCB/login"
                        class="button normal">Make Payment</a></li>
                <li><a href="#" class="mobile-menu" onclick="toggler('mobileNav');"><i class="icon menu"></i></a></li>
            </ul>
        </div>
    </div>
</div>